<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- ConnectionString do bazy danych -->
		<add name="KeyLockerDB" connectionString="Server=172.17.22.35,1433\\TESTUNIS;Database=UNIS;User ID=unisuser;Password=unisamho;Trusted_Connection=False;" />
	</connectionStrings>

	<appSettings>
		<!-- Adres API -->
		<add key="ApiUrl" value="http://172.17.22.35:5000" />
		<!-- Interwał synchronizacji w minutach -->
		<add key="SyncIntervalMinutes" value="1" />
	</appSettings>
</configuration>